@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@import "utilities";

@import "auth";
@import "dashboard/dashboard";
@import "dashboard/game-card";
@import "dashboard/LastPlayed";


@import "button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
